* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
  }
  html {
    font-family: 'Roboto Serif', serif;
  }
  body {
    background: #eee;
    padding: 0 16px;
  }

  .breadcrumbs {
    font-family: 'Kanit', sans-serif;
    float: inline-start;
    border-color: rgb(255, 255, 255);        
    background-color: #05A;
    color: #fff;
    padding: 0.2rem;
  }
  
  header {
    font-family: 'Kanit', sans-serif;
    background-color: #05A;
    margin: auto -16px;
    padding: 4px 32px;
  }
  
  header h2 {
    color: #fff;
    font-weight: 200; 
    font-size: 40px;
  }


  header h3 {
    color: #fff;
    font-weight: 200;
    font-size: 18px;
  }


  .login-header {
    text-align: center;
  }

  .login-button {
    font-family: 'Kanit', sans-serif;    
    background-color: #05A;
    color: #fff;
    font-size: larger;
    width: 8rem;
    height: 2.5rem;

    border-color: #05A;
    border-radius: 0.5rem;
  }

  .link:hover {  
    
    color: #fff;   
  }

  .link {       
    color: #fff; 
  }


  .logout-button {
    font-family: 'Kanit', sans-serif;
    font-weight: 200;
    font-size: x-large;
    float: right;
    border-color:rgb(255, 255, 255);    
    border-radius: 0.5rem;
    border-width: 0.15rem;
    background-color: #05A;
    color: #fff;
    padding: 0.2rem;
    margin-top: 23px;
  }

  .login-button:hover {
    background-color: rgb(1, 70, 139);
    border-color: rgb(1, 70, 139);
  }
  

  .error {
    padding-bottom: 1rem;
    color: red;
    font-size: large;
  }

  .success {
    padding-bottom: 1rem;
    color: rgb(23, 200, 23);    
    font-size: large;
  }


  .login-success {
    text-align: center;
    font-size: larger;
    padding-top: 2rem;
  }

  .padding-top-64 {
    padding-top: 4rem;
  }

  .padding-top-128 {
    padding-top: 8rem;
  }

  .padding-top-test {
    padding-top: 2rem;
  }

  .padding-bottom-16 {
    padding-bottom: 1rem;
  }

  .padding-bottom-24 {
    padding-bottom: 1.5rem;
  }

  .padding-bottom-32 {
    padding-bottom: 2rem;
  }
  
  footer {
    position: absolute;
    text-align: center;
    bottom: 0;
    width: 100%;
    height: 2.5rem;
  }
  
  footer p {
    color: #ccc;
  }
  
  form {
    position: relative;
    width: 480px;
    margin: 30px auto 20px auto;
    background: #fff;
    padding: 2rem 2rem 1rem 2rem;
    border-radius: 0.5rem;
    box-shadow: 0 1px 5px rgb(138, 137, 137);
  }

  

  form input,
  form textarea {
    width: 92%;
    padding-top: 0.2rem;
    padding-bottom: 0.2rem;
    outline: none;
    font-size: 1.2em;
    font-family: inherit;
    resize: none;
    margin: 1rem auto;
  }


  .upload {
    text-align: center;
  }

  .file{
    padding-top: 1rem;
  }

  .eye-button {
    text-align: center;
  }

  .container {
    position: relative;
    width: 45%;
  }

  .container img {
    width: 95%;
    height: auto;
  }

  .container .button {
    position: absolute;
    top: 55%;
    left: 45%;
    transform: translate(-55%, -45%);
    -ms-transform: translate(-55%, -45%);
    background-color: #f5f5f5;
    color: grey;
    font-size: 20px;
    padding: 9px 19px;
    border: none;
    cursor: pointer;
    border-radius: 4px;
  }

  .container .btn:hover {
    background-color: blue;
  }
  
 .passToggle{


  float: right;

  background-color: #fff;
  padding: 0.25rem;
  margin-top: 16px; 

 }

 .addAbs{
  display: flex;
  justify-content: center;
  flex: none;
  padding-top: 4rem;
  
 }

 .selectTeacher{
  padding-left: 8rem;
  padding-right: 6rem;
 }

 .selectDate{
  padding-left: 6rem;
 }

 .selectEndDate{
  padding-top: 1rem;
 }

 .submitAbs{
  display: flex;
  justify-content: right;
  padding-top: 4rem;
 }

 .addAbsHeader{
  padding-top: 4rem;
  text-align: center;
 }
