* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
  }
  html {
    font-family: 'Roboto Serif', serif;
  }
  body {
    background: #eee;
    padding: 0 16px;
    display: flex;
    flex-direction: column;
  }

  .breadcrumbs {
    float: inline-start;
    border-color: rgb(255, 255, 255);        
    background-color: #05A;
    color: #fff;
    padding: 0.2rem;
  }

  header {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: large;
    background-color: #3741A1;
    margin: auto -16px;
    padding: 12px 32px;
    vertical-align: middle;
  }
  
  header h2 {
    color: #fff;
    font-weight: 200; 
    font-size: 40px;
  }

  header h3 {
    color: #fff;
    font-weight: 200;
    font-size: 18px;
  }


  .login-header {
    text-align: center;
  }

  .login-button {
    background-color: #05A;
    color: #fff;
    font-size: larger;
    width: 8rem;
    height: 2.5rem;

    border-color: #05A;
    border-radius: 0.5rem;
  }

  .link:hover {  
    
    color: rgb(81, 131, 240);   
  }

  .link {       
    color: #3741A1; 
    font-size: 0.9rem;
    text-decoration: none;
    line-height: 35px;
  }

  .link-container {
    background-color: rgb(242, 242, 242);
    margin: auto -16px;
    padding: 1px 32px;
    vertical-align: center;
  }

  .link2:hover {  
    
    color: white; 
  }

  .link2 {       
    color: white; 
    font-size: 0.9rem;
    text-decoration: none;
  }

  .logout-button {
    font-weight: 200;
    font-size: medium;
    float: right;
    border-color:rgb(81, 131, 240);    
    background-color: #3741A1;
    border-radius: 4px;
    color: #fff;
    width: 4.5rem;
    height: 2rem;
    margin-top: 23px;
  }

  .logout-button:hover {
    background-color: rgb(23, 23, 128)
  }

  .login-button:hover {
    background-color: rgb(1, 70, 139);
    border-color: rgb(1, 70, 139);
  }
  
  .error {
    padding-bottom: 1rem;
    color: red;
    font-size: large;
  }

  .success {
    padding-bottom: 1rem;
    color: rgb(23, 200, 23);    
    font-size: large;
  }

  .login-success {
    text-align: center;
    font-size: larger;
    padding-top: 2rem;
  }

  .padding-top-64 {
    padding-top: 4rem;
  }

  .padding-top-128 {
    padding-top: 8rem;
  }

  .padding-top-32 {
    padding-top: 2rem;
  }

  .padding-top-24 {
    padding-top: 1.5rem;
  }

  .padding-top-16{
    padding-top: 1rem;
  }

  .padding-top-8{
    padding-top: 0.5rem;
  }

  .padding-bottom-8 {
    padding-bottom: 0.5rem;
  }

  .padding-bottom-16 {
    padding-bottom: 1rem;
  }

  .padding-bottom-24 {
    padding-bottom: 1.5rem;
  }

  .padding-bottom-32 {
    padding-bottom: 2rem;
  }

  .padding-left-16 {
    padding-left: 1rem;
  }
  .padding-left-64 {
    padding-left: 4rem;
  }

  .padding-left-128 {
    padding-left: 8rem;
  }
  
  footer {
    position: static;
    text-align: center;
    bottom: 0;
    width: 100%;
    height: 2.5rem;
    padding-top: 2rem;
    padding-bottom: 2rem;
  }
  
  footer p {
    color: #ccc;
  }
  
  form {
    position: relative;
    width: 480px;
    margin: 30px auto 20px auto;
    background: #fff;
    padding: 2rem 2rem 1rem 2rem;
    border-radius: 0.5rem;
    box-shadow: 0 1px 5px rgb(138, 137, 137);
  }

  form input,
  form textarea {
    width: 92%;
    padding-top: 0.2rem;
    padding-bottom: 0.2rem;
    outline: none;
    font-size: 1.2em;
    font-family: inherit;
    resize: none;
    margin: 1rem auto;
  }

  input[type="text"] {
    border-width: 0.005rem;
    border-radius: 4px;
    padding-left: 0.5rem;
  }

  input[type="password"] {
    border-width: 0.005rem;
    border-radius: 4px;
    padding-left: 0.5rem;
  }

  input[type="checkbox"] {
    color: #3741A1;
    background-color: #3741A1;
  }

  input[type="checkbox"]:checked {
    color: #3741A1;
    background-color: #3741A1;
  }

  .upload {
    text-align: center;
  }

  .file{
    padding-top: 1rem;
  }

  .eye-button {
    text-align: center;
  }

  .container {
    position: relative;
    width: 45%;
  }

  .container img {
    width: 95%;
    height: auto;
  }

  .container .button {
    position: absolute;
    top: 55%;
    left: 45%;
    transform: translate(-55%, -45%);
    -ms-transform: translate(-55%, -45%);
    background-color: #f5f5f5;
    color: grey;
    font-size: 20px;
    padding: 9px 19px;
    border: none;
    cursor: pointer;
    border-radius: 4px;
  }

  .container .btn:hover {
    background-color: blue;
  }
  
 .passToggle{
  
  background: white url("https://vectorified.com/images/password-eye-icon-8.png") left no-repeat;
  padding: 0.25rem;
  margin-top: 16px; 
  border: none;

 }

 #funkystyling {

  background: white url(/path/to/icon.png) left no-repeat;
  padding-left: 17px;
}

 .addAbs{
  display: flex;
  justify-content: center;
  flex: none;
  padding-top: 4rem;
  
 }

 .selectTeacher{
  padding-left: 8rem;
  padding-right: 6rem;
 }

 .selectDate{
  padding-left: 6rem;
 }

 .selectEndDate{
  padding-top: 1rem;
 }

 .submitAbs{
  display: flex;
  justify-content: center;
  padding-top: 4rem;
 }

 .addAbsHeader{
  padding-top: 4rem;
  text-align: center;
 }

 .pageHeader{
  color: #3741A1;
  text-align: center;
  padding-top: 2rem;
 }

 .abs-button{

  width: 16rem;
  height: 2.5rem;
  text-align: center;
  background: #3741A1;
  border-radius: 4px;
  border-color: rgb(81, 131, 240);
  color: white;
 }

 .button-submit{
  width: 6rem;
  height: 2.5rem;
  text-align: center;
  background: #3741A1;
  border-radius: 4px;
  border-color: rgb(81, 131, 240);
  color: white;
 }

 .abs-button:hover {
  background-color: rgb(23, 23, 128)
 }

 .button-submit:hover {
  background-color: rgb(23, 23, 128)
 }
 .abs-button-text{
  color: white;
  margin: auto;
  font-weight: 600;
  font-size: 1.1rem;
 }

 .abs-button-container{
  font-size: 1rem;
  font-weight: lighter;
  display: flex;
  flex-direction: column;
  align-items: center;
 }

 .container-horizontal{
  display: flex;
  flex-direction: row;
  align-items: center;
 }

 .container-vertical{
  display: flex;
  flex-direction: column;
  align-items: center;
 }

 .submit-button{
  width: 4rem;
  height: 2.5rem;
  text-align: center;
  background: #3741A1;
  border-radius: 4px;
  border-color: rgb(81, 131, 240);
  color: white;
 }

 .select-teacher{
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 16rem;
  height: 4.5rem;
  text-align: center;
  border-radius: 4px;
  border-color: #3741A1;
  background-color: rgb(244, 244, 244);
  color: #3741A1;
  font-weight: 600;
  font-size: 1.1rem;
 }

 .select:hover {
  background-color: rgb(245, 245, 245)
 }

 .checkbox {
  width: 2.5rem;
  height: 2.5rem;
  color: #3741A1;
  border-radius: 4px;
  border-color: #3741A1;
 }

 .checkbox-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 16rem;
  height: 6.5rem;
  border: 2px solid #3741A1;
  border-radius: 4px;
  background-color: rgb(244, 244, 244);
  color: #3741A1;
  font-weight: 600;
  font-size: 1.1rem;
 }

 .select-date-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 16rem;
  height: 4.5rem;
  text-align: center;
  border-radius: 4px;
  border-color: #3741A1;
  background-color: rgb(244, 244, 244);
  border: 2px solid #3741A1;
  color: #3741A1;
  font-weight: 600;
  font-size: 1.1rem;
 }

 .teacher-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 12rem;
  height: 1.75rem;
  text-align: center;
  border-radius: 4px;
  border: 1px solid black;
  background-color: white;
  font-weight: 400;
  font-size: 1rem;
  color: #3741A1;
 }

 .teacher-container-2 {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 12rem;
  height: 1.75rem;
  text-align: center;
  border-radius: 4px;
  border: 1px solid #3741A1;
  background-color: rgb(242, 242, 242);
  font-weight: 400;
  font-size: 1rem;
  color: #3741A1;
 }
 .theme-text {
  color: #3741A1;
 }

 .select-multi-dates-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 16rem;
  height: 7.5rem;
  text-align: center;
  border-radius: 4px;
  border-color: #3741A1;
  background-color: rgb(242, 242, 242);
  border: 2px solid #3741A1;
  color: #3741A1;
  font-weight: 600;
  font-size: 1.1rem;
 }

.select-date {
  width: 12rem;
  text-align: center;
}

.success-message {
  align-items: center;
  text-align: center;
  border-radius: 4px;
  width: 16rem;
  height: 1.8rem;
  color: rgb(0, 141, 54);
  font-weight: 400;
  background-color: rgba(2, 199, 2, 0.333);
}

.error-message {
  align-items: center;
  text-align: center;
  border-radius: 4px;
  width: 14rem;
  height: 1.8rem;
  color: rgb(185, 0, 0);
  font-weight: 400;
  background-color: rgba(212, 2, 2, 0.256);
}

.pagination-button {
  width: 3rem;
  height: 1.8rem;
  text-align: center;
  border-radius: 4px;
  border: 1px solid #3741A1;
  background-color: rgb(242, 242, 242);
  color: #3741A1;
  font-weight: 500;
}

.forward {
  float: right;
}

.abs-table {
  width: 62rem;
  padding-top: 1rem;
}

.file{
  padding-top: 1rem;
  width: 16rem;
  text-align: center;
  height: 2.5rem;
  border-radius: 4px;
  opacity: 0;
}

.uploadfiletext{
  padding-top: 0.4rem;
  width: 16rem;
  height: 2.5rem;
  text-align: center;
  background: #3741A1;
  border-radius: 4px;
  border-color: rgb(81, 131, 240);
  color: white;
  margin: auto;
  font-weight: 600;
  font-size: 1.1rem;
}

.uploadfiletext:hover {
  background-color: rgb(23, 23, 128)
}

.file-text{
  color: grey;
  margin: auto;
  font-weight: 600;
  font-size: 1.1rem;
 }

 .upload-button{
  width: 8rem;
  height: 2.5rem;
  text-align: center;
  background: #3741A1;
  border-radius: 4px;
  border-color: rgb(81, 131, 240);
  color: white;
 }

 .upload-button:hover {
  background-color: rgb(23, 23, 128);
 }

 .item {
  display: flex;
  flex-direction: row;
 }

 .upload-buffer {
  width: 2rem;
 }

 .want-to {
  font-size: 1.3rem;
  color: rgb(155, 155, 155)
 }