
.tableSize {
    padding-left: 200px;
    padding-top: 50px;
}

.paginationButtons{
    position:relative; 
    top:10px; 
}

.forwards{
    left: 10px;
}


.addAbsenceButton{
    position:relative; 
    top:20px;
}